#ShellCrash配置文件，不明勿动！
userguide=1
redir_mod=混合模式
dns_mod=mix
firewall_area=1
cn_ip_route=ON
ipv6_redir=ON
ipv6_support=ON
ipv6_dns=ON
cn_ipv6_route=ON
cpucore=arm64
server_link=2
rule_link=2
dns_nameserver='https://dns.alidns.com/dns-query, https://doh.pub/dns-query'
dns_fallback='https://cloudflare-dns.com/dns-query, https://dns.google/dns-query, https://doh.opendns.com/dns-query'
dns_resolver='https://223.5.5.5/dns-query, 2400:3200::1'
url_id=101
release_type=master
versionsh_l=
firewall_mod=nftables
update_url=https://testingcf.jsdelivr.net/gh/juewuy/ShellCrash@master
my_alias=crash
systype=
crashcore=singboxr
core_v=1.13.0-alpha.27-reF1nd.1
custcorelink=
Country_v=
cn_mini_v=
geosite_v=
mrs_geosite_cn_v=
srs_geosite_cn_v=20260426
Https='http://192.168.1.100:3000/sub?url=https://rss.4ups.top/s/Gzufv?ss=64%26vmess=64%26vless=64%26trojan=64'
Url=
fw_wan=ON
